/*Components to compile*/
/* FONTS */
/* COLORS */
/** Mixin for media queries
    Size applied from https://getbootstrap.com/docs/4.1/layout/grid/
*/
/*
Funtion to  take any value and strip the unit off
Useful to conevert px to rem
*/
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #161B2D;
}

a, a:link {
  color: #506690;
  text-decoration: none;
}
a:focus {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Styles for header component*/
/* Class to fix/sticky the navbar on top when a user scrolls */
.fixed {
  position: fixed;
  background-color: #292929;
  box-shadow: 0px 20px 50px rgba(215, 228, 249, 0.576);
  z-index: 10;
}

.main-header {
  width: 100%;
}
.main-header .navbar {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  width: 92.31%;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .main-header .navbar {
    justify-content: start;
    width: 85%;
  }
}

/* Mobile button animation */
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  width: 8.333%;
  transform: scale(1.5);
  /* Lines behavior Menu Opened */
}
@media screen and (min-width: 1025px) {
  .menu-button {
    display: none;
  }
}
.menu-button__line {
  fill: none;
  stroke: #335EEA;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1025px) {
  .menu-button__line {
    transform: scale(0);
  }
}
.menu-button--opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.menu-button--opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.menu-button--opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
@media screen and (min-width: 1025px) {
  .menu-button--opened {
    display: none;
  }
}

/* Lines behavior Menu Closed */
.line1, .line2, .line3 {
  stroke-width: 6;
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.navigate {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .navigate {
    position: absolute;
    order: 3;
    transform: scale(0);
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navigate {
    position: absolute;
    order: 3;
    transform: scale(0);
    width: 100%;
  }
}
.navigate--opened {
  position: relative;
  transform: scale(1);
  margin-top: 10%;
  transition: 1s;
}
@media screen and (min-width: 1025px) {
  .navigate {
    flex-flow: row;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 0;
    max-width: 460px;
  }
}
.navigate .navigate-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 14.1176470588em;
  margin-bottom: 10%;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .navigate .navigate-list {
    flex-flow: row;
    justify-content: flex-end;
    max-width: 30.9411764706em;
    margin-bottom: 0;
  }
}
.navigate .navigate-list__item {
  margin-bottom: 2.8235294118em;
  width: max-content;
  font-weight: 900;
}
.navigate .navigate-list__item:last-child {
  margin-bottom: 20%;
}
@media screen and (min-width: 1025px) {
  .navigate .navigate-list__item:last-child {
    margin-left: 20%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .navigate .navigate-list__item {
    margin-bottom: 0;
  }
}
.navigate .navigate-list__item--hover {
  display: block;
  line-height: 1.38889rem;
  position: relative;
}
.navigate .navigate-list__item--hover.active::after {
  opacity: 1;
  bottom: -0.5rem;
}
.navigate .navigate-list__item--hover.active a {
  color: #335EEA;
}
.navigate .navigate-list__item--hover::after {
  background: #299EF3;
  border-radius: 100%;
  bottom: -1.5rem;
  content: "";
  height: 6px;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.2s ease;
  width: 6px;
}
.navigate .navigate-list__item--hover:hover::after {
  bottom: -0.5rem;
  opacity: 1;
}

/*Main Content styles*/
.main-content {
  width: 100%;
  padding: 3% 0;
  background-color: #E5E5E5;
}
.main-content__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 56px;
  border-radius: 8px;
  padding: 5px 0.5% 5px 2%;
  background-color: #ffffff;
  color: #00343D;
  box-shadow: 0px 8px 24px rgba(22, 27, 45, 0.1);
  border-radius: 6px;
  width: 92.31%;
  max-width: 1040px;
  margin: 0 auto 40px;
}
.main-content__search-icon {
  width: 20px;
}
.main-content__search-input {
  padding: 5px 0;
  width: 88%;
  border: none;
  font-weight: 900;
}
.main-content__search-go {
  background-color: #335EEA;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 0;
  width: 84px;
}
.main-content__load-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 16px 10px;
  border-radius: 4px;
  width: 100%;
  max-width: 33.5882352941rem;
  margin: 50px auto;
}
.main-content__load-more:hover {
  background-color: #506690;
}
.main-content__load-more:hover a {
  color: #9FACC6;
}
.main-content__load-more a {
  color: #335EEA;
}
.main-content__load-more .text {
  font-weight: 900;
}
.main-content__load-more .arrow {
  position: absolute;
  right: 5%;
  font-size: 20px;
}

/*  BLOG PREVIEW SECTION*/
.preview-blogs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width: 92.31%;
  max-width: 1040px;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .preview-blogs {
    justify-content: space-between;
  }
}
.preview-blogs__card {
  display: none;
  width: 320px;
  max-height: 439px;
  margin: 20px 0;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  /* Shadow (Light) / Large */
  box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
  border-radius: 5px;
}
.preview-blogs__card-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.8235294118rem;
  border-radius: 5px;
}
.preview-blogs__card-img::before {
  content: "";
  position: absolute;
  width: 170%;
  height: 65%;
  border-radius: 50%;
  bottom: 0.2941176471rem;
  right: -0.8823529412rem;
  box-shadow: 80px 80px 0px 10px white;
}
.preview-blogs__card-img .pricing, .preview-blogs__card-img .favorite {
  position: absolute;
  top: 18px;
}
.preview-blogs__card-img .pricing {
  background-color: #42BA96;
  padding: 5px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  color: #ffffff;
  left: 20px;
}
.preview-blogs__card-img .favorite {
  right: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.preview-blogs__card-img .favorite.addfav path {
  fill: #FFC726;
}
.preview-blogs__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1764705882rem 0;
  width: 85%;
  margin: 0 auto 20px;
  border-top: 2px solid #F3F7FB;
}
.preview-blogs__card-footer .profile {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  font-size: 12px;
  color: #6B7C93;
}
.preview-blogs__card-footer .profile__img {
  width: 25px;
  border-radius: 50%;
}
.preview-blogs__card-footer .profile__username {
  width: 70%;
  text-transform: uppercase;
}
.preview-blogs__card-footer .card-date {
  color: #6B7C93;
  font-weight: bolder;
  width: 30%;
  text-transform: uppercase;
}

.overview {
  position: relative;
  width: 95%;
  margin: 0 auto 20px auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.overview__title {
  margin-bottom: 35px;
  font-size: 35px;
  font-weight: 900;
  line-height: 45px;
}
@media screen and (min-width: 1025px) {
  .overview__title {
    font-size: 43px;
    line-height: 53px;
  }
}
.overview__subtitle {
  color: #161C2D;
  margin-bottom: 21px;
  align-self: flex-start;
}
.overview__subtitle--preview-blogs {
  cursor: pointer;
}
.overview__resume {
  color: #6B7C93;
  width: 100%;
  margin-bottom: 16px;
}
.overview__resume--preview-blogs {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*  FAVORITE SECTION*/
.favorites-blogs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width: 92.31%;
  max-width: 1040px;
  margin: 0 auto;
  display: none;
}
@media screen and (min-width: 1025px) {
  .favorites-blogs {
    justify-content: space-between;
  }
}

/* CURRENT BLOG */
.current-blog {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width: 92.31%;
  max-width: 1040px;
  margin: 0 auto;
  max-width: 680px;
}
.current-blog__card-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5294117647rem 0;
  width: 100%;
  margin: 0 auto 42px;
  border-top: 1px solid #F1F4F8;
  border-bottom: 1px solid #F1F4F8;
}
.current-blog__card-footer .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 11.2941176471rem;
  min-width: 10.5882352941rem;
  margin-bottom: 5px;
  font-weight: 900;
}
.current-blog__card-footer .profile__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.current-blog__card-footer .profile__textbox {
  font-size: 12px;
  align-items: center;
}
.current-blog__card-footer .profile__textbox .card-date {
  font-size: 12px;
  color: #506690;
}
.current-blog__card-footer .profile__username {
  margin-bottom: 5px;
  line-height: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #161C2D;
}
.current-blog__card-footer .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 7.6470588235rem;
}
.current-blog__card-footer .social__text {
  width: 45%;
  font-size: 14px;
  color: #869AB8;
}
.current-blog__card-footer .social__icons {
  width: 55%;
  justify-content: space-between;
}
.current-blog__card-footer .social__icons-net {
  width: 21px;
}
.current-blog__card-imgbox {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 66px;
}
.current-blog__card-imgbox .card-img {
  width: 100%;
  max-width: 680px;
  border-radius: 5px;
}
.current-blog__card-imgbox .card-caption {
  font-size: 15px;
  color: #869AB8;
}

.overview--current-blogs {
  font-weight: 900;
}
.overview__title--current-blogs {
  text-align: center;
}
.overview__resume--current-blogs {
  text-align: center;
  line-height: 24px;
}
@media screen and (min-width: 1025px) {
  .overview__resume--current-blogs {
    font-size: 21px;
    line-height: 32px;
  }
}
.overview__paragraph--current-blogs {
  text-align: justify;
}

/*  404 PAGE */
.page404 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  width: 92.31%;
  max-width: 1040px;
  margin: 0 auto;
  align-items: center;
  display: none;
}
.page404__img {
  width: 100%;
  max-width: 590px;
  min-width: 250px;
}
@media screen and (min-width: 1025px) {
  .page404__img {
    width: 70%;
  }
}

.overview--404page {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .overview--404page {
    width: 30%;
  }
}
.overview__subtitle--404page {
  align-self: center;
  font-size: 52px;
  font-weight: 900;
}
.overview__resume--404page {
  color: #6E84A3;
  font-weight: 900;
  max-width: 310px;
}
.overview__button--404page {
  background-color: #335EEA;
  padding: 15px;
  border-radius: 6px;
}
.overview__button-link--404page {
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
