/* FONTS */
$font:'Roboto';
$family:sans-serif;
$browser-context:17px; // Size default for the HTML document
$primary-text:#161B2D;
$secundary-text:#6B7C93;
$tertiary-text:#161C2D;
$fourth-text:#6E84A3;

/* COLORS */
// Background colors
$background-color: #E5E5E5;

// template color
$primary-color:#335EEA;
$secundary-color:#506690;
$tertiary-color:#9FACC6;

// Pricing
$pricing-0: #ff5b5b;
$pricing-1:#42BA96;
$pricing-2:#F2C94C;
// Green button

// Links
$links-color: #299EF3;

// Border line in Card profile
$profile-border: #F3F7FB;
$social-text: #869AB8;

